- name: Create Calibre VM from template
  community.proxmox.proxmox_kvm:
    api_host: "{{ pve_api_host }}"
    api_user: "{{ pve_api_user }}"
    api_password: "{{ pve_api_password }}"
    node: "{{ pve_node }}"
    vmid: "{{ vm_id }}"
    name: "{{ vm_name }}"
    clone: "{{ vm_template }}"
    timeout: 300
    state: started
  delegate_to: localhost
