---
# --- NIC RENAMING ---
# - name: Deploy udev rules for NIC renaming
#   template:
#     src: 70-persistent-net.rules.j2
#     dest: /etc/udev/rules.d/70-persistent-net.rules
#   notify: Reboot and wait

# --- NETWORK INTERFACES ---
# - name: Deploy network interfaces configuration
#   template:
#     src: interfaces.j2
#     dest: /etc/network/interfaces
#   notify: Reboot and wait

# --- DISABLE IPv6 ---
- name: Deploy sysctl config to disable IPv6
  template:
    src: 99-disable-ipv6.conf.j2
    dest: /etc/sysctl.d/99-disable-ipv6.conf
  notify: Reboot and wait


