- name: Provision Docker Host VM
  community.proxmox.proxmox_kvm:
    node: "{{ pve_node }}"
    name: "docker-mgmt-01"
    vmid: 400
    api_user: "{{ pve_api_user }}"
    api_token_id: "ansible-token"
    api_token_secret: "{{ proxmox_token }}"
    template: "debian-12-cloudinit-template" # Assumes you have a cloud-init template
    ipconfig:
      ipconfig0: "ip=192.168.1.15/24,gw=192.168.1.1"
    state: started

- name: Install Docker on Management VM
  delegate_to: 192.168.1.15
  remote_user: debian
  become: yes
  ansible.builtin.shell: |
    curl -fsSL https://get.docker.com -o get-docker.sh
    sh get-docker.sh

